body{
    background-color:#fff;
    color:#fff;
    font-family:Raleway, sans-serif;
    font-size:16px;
    text-align:center;
    line-height:1.6em;
    margin:0;
}

.container{
    width:70%;
    margin:auto;
    border:5px black;
    padding:10px;
    background-color:lightgrey
}

.box1{
    background-color:black;
    color:#fff;
}


.box2{
    background-color:black;
    color:#fff;
}

.list{
    background-color:black;
    text-align:left;   
}

#main-header{
    background-color:black;
    padding:10px;
}

